{% extends 'base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Montserrat:wght@400;500;600;700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/8a0ec70a6e.js" crossorigin="anonymous"></script>
    
    <title>{%block title%} MoneyTracker {% endblock %}</title>
</head>
<body>

    {% block content %}
    <div id="myModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <form method="POST" action="{% url 'cadastrar_transacao' %}" class="inputs">
                {% csrf_token %}
                <h1>Cadastrar transferência</h1>
                <input type="text" name="titulo" placeholder="Título">
                <input type="number" name="valor" placeholder="Valor">
                <input type="text" name="categoria" placeholder="Categoria">
                <!-- Adicione um campo oculto para enviar o tipo de transação -->
                <input type="hidden" name="tipo" id="tipo" value="">
            
                <div class="buttons-type">
                    <div id="btn-entrada">
                        <i class="fa-solid fa-arrow-up" style="color: #157811;"></i>
                        Entrada
                    </div>
                    <div id="btn-saida">
                        <i class="fa-solid fa-arrow-down" style="color: #F44336;"></i>
                        Saida
                    </div>
                </div>
                <input id="finaliza" type="submit" name="enviar" value="Finalizar">
            </form>
        </div>
    </div>
    <div class="conteudo">

        <header>
            <h1><span class="verde">Money</span>Tracker</h1>
            <button id="modal-btn">Nova transação</button>
        </header>

        <section class="info">
                <div class="model entradas">
                    <div>
                        <p>Entradas</p>
                        <i class="fa-solid fa-arrow-up" style="color: #157811;"></i>
                    </div>
                    <p class="valor">R$<span>{{ valorTotalEntrada }}</span></p>
                </div>

                <div class="model saidas">
                    <div>
                        <p>Saidas</p>
                        <i class="fa-solid fa-arrow-down" style="color: #F44336;"></i>
                    </div>
                    <p class="valor">-R$<span>{{ valorTotalSaida }}</span></p>
                </div>

                <div class="model bg-verde total">
                    <div>
                        <p>Total</p>
                        <i class="fa-solid fa-coins" style="color: #ffffff;"></i>
                    </div>
                    <p class="valor">R$<span>{{ total }}</span></p>
                </div>
        </section>

        <section class="historico">
            <table class="table">
                
                <thead>
                  <tr id="bg-preto">
                    <th>Título</th>
                    <th>Valor</th>
                    <th>Categoria</th>
                    <th>Data</th>
                  </tr>
                </thead>
                <tbody>
                {% for transacao in transacoes %}
                  <tr id="bg-escuro">
                    <td>{{ transacao.titulo }}</td>
                    {% if transacao.tipo == 1 %}
                        <td class="texto-verde">+ {{ transacao.valor }}</td>
                    {% else %}
                        <td class="texto-vermelho">- {{ transacao.valor }}</td>
                    {% endif %}
                    
                    <td>{{ transacao.categoria }}</td>
                    <td>{{ transacao.data }}</td>
                  </tr>
                </tbody>
                {% endfor %}
              </table>
        </section>
    </div>
    <script src="{% static '/js/modal.js' %}"></script>
    <script src="{% static '/js/buttons.js' %}"></script>
    {% endblock %}
</body>
</html>